[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pymysql = "*"
flash = "*"
cryptography = "*"
flask-bcrypt = "*"
flask-wtf = "*"
flask-form = "*"

[dev-packages]

[requires]
python_version = "3.11"
